<section class="build-section" id="build">
  <div class="build-content-wrap container">
    <h2 class="build-title">Create Without Limits</h2>
    <div class="">
      <p class="build-text">
        <span>&nbsp;</span>
        Whether it’s a spacious kitchen or a compact studio, Interio allows you to personalize your space down to the
        smallest details. Select your favorite layout, place items freely, rotate objects, and find your perfect
        combination of style and comfort.
      </p>
      <p class="build-text"><span>&nbsp;</span>This isn't just a game — it's a simulator for exploring your ideal living space.</p>
    </div>
  </div>
</section>
