<section class="community-section" id="community">
  <div class="community-content-wrap container">
    <h2 class="community-title">Follow & Share Your Work</h2>
    <div class="community-text-wrap">
      <p class="community-text">
        Players are sharing their best room transformations using <span class="community-span">#InterioDesign</span> on social media. Follow us on Instagram
        and tag your latest project to be featured in future game updates or gallery posts.
      </p>
      <a href="#" class="community-link">Follow @InterioGame</a>
    </div>
  </div>
</section>
