<section class="features-section" id="features">
  <div class="features-content-wrap container">
    <h2 class="features-title">Why You'll Love Interio</h2>
    <ul class="features-list">
      <li class="features-list-item">
        <img class="features-ico-1" src="./img/general/features-ico-1.png" />
        <p class="features-text">Renovate and decorate fully interactive 3D rooms</p>
      </li>
      <li class="features-list-item">
        <img class="features-ico-1" src="./img/general/features-ico-2.png" />
        <p class="features-text">Match materials and colors to earn creative combos</p>
      </li>
      <li class="features-list-item">
        <img class="features-ico-1" src="./img/general/features-ico-3.png" />
        <p class="features-text">Explore an ever-growing collection of furniture and finishes</p>
      </li>
      <li class="features-list-item">
        <img class="features-ico-1" src="./img/general/features-ico-4.png" />
        <p class="features-text">Complete design requests from virtual clients</p>
      </li>
      <li class="features-list-item">
        <img class="features-ico-1" src="./img/general/features-ico-5.png" />
        <p class="features-text">Collect gift boxes and unlock exclusive materials</p>
      </li>
      <li class="features-list-item">
        <img class="features-ico-1" src="./img/general/features-ico-6.png" />
        <p class="features-text">Experiment with bathrooms, kitchens, bedrooms, and more</p>
      </li>
      <li class="features-list-item">
        <img class="features-ico-1" src="./img/general/features-ico-7.png" />
        <p class="features-text">Learn practical design rules through gameplay</p>
      </li>
    </ul>
  </div>
</section>
