<footer class="footer-section" id="footer">
  <div class="footer-content-wrap container">
    <p class="footer-note">Interio is developed and maintained by Designmo Studios LLC.</p>
    <ul class="footer-list">
      <li><a href="./privacy.html" class="footer-link">Privacy Policy  /</a></li>
      <li><a href="./terms.html" class="footer-link"><span>&nbsp;</span>Terms and Conditions  /</a></li>
      <li><a href="./cookies.html" class="footer-link"><span>&nbsp;</span>Cookie Policy</a></li>
    </ul>
    <p class="footer-rights">© All rights reserved, 2025 designmo.pro</p>
  </div>
</footer>
