<section class="gallery-section" id="gallery">
  <div class="gallery-content-wrap container">
    <h2 class="gallery-title">Gallery</h2>
    <p class="gallery-text">
      See how players from around the world are using Interio to create stunning room transformations. From cozy modern
      bedrooms to bold, industrial kitchens — these spaces are all made within the app.
    </p>
    <div class="gallery-swiper swiper">
      <ul class="gallery-swiper-wrapper swiper-wrapper">
        <li class="gallery-swiper-slide swiper-slide"><img src="./img/general/gallery-slide-1.png" alt="" class="gallery-img"></li>
        <li class="gallery-swiper-slide swiper-slide"><img src="./img/general/gallery-slide-2.png" alt="" class="gallery-img"></li>
        <li class="gallery-swiper-slide swiper-slide"><img src="./img/general/gallery-slide-3.png" alt="" class="gallery-img"></li>
        <li class="gallery-swiper-slide swiper-slide"><img src="./img/general/gallery-slide-4.png" alt="" class="gallery-img"></li>
        <li class="gallery-swiper-slide swiper-slide"><img src="./img/general/gallery-slide-5.png" alt="" class="gallery-img"></li>
      </ul>
    </div>
    <div class="gallery-navigation">
      <button class="gallery-button-prev" aria-label="Previous slide">
        <img class="g-arrow" src="./img/general/arrow-left.png" alt="">
      </button>
      <div class="gallery-pagination-desktop"></div>
      <button class="gallery-button-next" aria-label="Next slide">
        <img class="g-arrow" src="./img/general/arrow-right.png" alt="">
      </button>
    </div>
    <div class="gallery-pagination"></div>
    <a class="gallery-link" href="#">View Full Gallery</a>
  </div>
</section>
