<header class="header-section">
  <div class="header-content-wrap container">
    <a href="/"><img src="/img/general/interio-logo.png" alt="logo" class="header-logo"></a>
    <button class="burger-menu-btn"><img class="burger-img" src="./img/mobile/burger-menu.png" alt="menu"></button>
    <div class="backdrop container">
      <ul class="backdrop-list">
        <li class="backdrop-list-item"><a class="backdrop-link" href="#features">Features</a></li>
        <li class="backdrop-list-item"><a class="backdrop-link" href="#how-it-works">How It Works</a></li>
        <li class="backdrop-list-item"><a class="backdrop-link" href="#gallery">Gallery</a></li>
        <li class="backdrop-list-item"><a class="backdrop-link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
