<section class="hero-section" id="hero">
  <div class="hero-content-wrap container">
    <div class="hero-content">
      <h1 class="hero-title">Design, Decorate, Dream — In 3D</h1>
      <div class="hero-content-box">
        <img class="hero-image" src="./img/general/hero.png" alt="Hero Image" />
        <div class="hero-text-box">
          <p class="hero-description">
            Unleash your creativity and become a virtual interior designer. Renovate and decorate fully interactive 3D spaces,
            match materials, and bring any room to life.
          </p>
          <div class="download-btn">
            <a href="#" class="download-text">Download on Google Play</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
