<section class="how-it-works-section" id="how-it-works">
  <div class="how-it-works-content-wrap container">
    <h2 class="how-it-works-title">From Vision to Virtual Space</h2>
    <ul class="hiw-list">
      <li class="hiw-list-tem">
        <img src="./img/general/hiw-img-1.png" alt="" class="hiw-img">
        <p class="hiw-text">Choose a room type or accept a client challenge</p>
      </li>
      <li class="hiw-list-tem">
        <img src="./img/general/hiw-img-2.png" alt="" class="hiw-img">
        <p class="hiw-text">Use intuitive design tools to select walls, floors, lighting, and 	decor</p>
      </li>
      <li class="hiw-list-tem">
        <img src="./img/general/hiw-img-3.png" alt="" class="hiw-img">
        <p class="hiw-text">Mix materials, colors, and layout elements to achieve a stylish 	result</p>
      </li>
      <li class="hiw-list-tem">
        <img src="./img/general/hiw-img-4.png" alt="" class="hiw-img">
        <p class="hiw-text">Earn rewards for balance, creativity, and material matching</p>
      </li>
      <li class="hiw-list-tem">
        <img src="./img/general/hiw-img-5.png" alt="" class="hiw-img">
        <p class="hiw-text">Save your finished designs and build your own 3D portfolio</p>
      </li>
    </ul>
  </div>
</section>
