.footer-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  @include media(desktop) {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}

.footer-note {
  font-family: "Manrope", sans-serif;
font-weight: 400;
font-size: 10px;
text-align: center;
color: rgba(0, 0, 0, 0.5);
@include media(desktop) {
  font-size: 17px;
}
}


.footer-list {
  margin-top: 30px;
  display: flex;
}

.footer-link {
  font-family: "Manrope", sans-serif;
font-weight: 400;
font-size: 10px;
text-align: center;
color: #000;
@include media(desktop) {
  font-size: 20px;
}
}

.footer-rights {
  font-family: "Manrope", sans-serif;
font-weight: 400;
font-size: 10px;
text-align: center;
color: #000;
margin-top: 16px;
@include media(desktop) {
  font-size: 20px;
}
}